.slider{
    position: relative;
    margin: auto;
    height: 512px;
    width: 512px;
    margin-bottom: 15px;
}

.item img {
    object-fit: cover;
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.slider-dots {
    text-align: center;
}
.slider-dots-item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots-item:hover {
    background-color: #aaa;
}
